.wrapper {
  display: flex;
  flex-direction: column;

  .control-wrapper {

    .control {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px 0;

      img {
        margin-right: 5px;
      }

      label {
        font-size: 14px;
        color: #555;
        margin-right: 10px;
      }
    }

  }
}
